html {
    height: 100%;
    background-color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    flex-direction: column;
    display: flex;
    min-height: 100%;
}

nav {
    flex-grow: 0;
}

a:visited {
    color: black;
}

ul.lyrics {
    list-style-type: none;
    padding-left: 0;
}

#title h1 {
    margin: 0;
    padding: 0;
}

#logo {
    position: absolute;
    right: 0;
}

#logo img {
    display: block;
}

.container {
    max-width: 1300px;
    width: 80%;
    margin: auto;
}

.navbar {
    width: 100%;
    background-color: black;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    /* width: 350px; */
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.7rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bolder;
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
}

.tracklist {
    font-size: 1.5rem;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 14px;
    left: -5px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFB81C;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

#home .flex-wrap {
    /* use flexible box layout */
    display: flex;
    /* let items flow vertically */
    flex-direction: column;
}

#home .full-width {
    /* by default our horizontal space should be 100% */
    flex-basis: 100%;
}

.navbar ul {
    padding: 0;
}

.navbar .menu-items {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 5px rgba(244, 194, 194, 0.9);
    /* background-color: rgb(255, 215, 0); */ /* gold */
    background-color: #FFCFCF;
    width: 190px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    margin-left: -84px;
    border-radius: 50%;
}

.navbar .menu-items li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

#title {
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1.8rem;
    color: #FFB81C;
}

.page {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    flex-grow: 1;
    /* Hide all pages initially */
    display: none;
    width: 90%;
    background-image: linear-gradient(255deg, #F9EDED, #FFD8D8);
    padding: 0% 5%;
}

/* Show the default page and the one the user clicked on */
.default, .page:target {
    display: block;
}

/* Hide the default page when another one is clicked */
:target ~ .default {
    display: none;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

#footer-wrapper {
    background-color: black;
}

#footer {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;

}

#footer a {
    display: block;
    margin-top: 14px;
}

#footer p {
    color: #FFB81C;
    font-size: 1.15rem;
}